<!DOCTYPE html>
<html lang="en">

<body id="page-top">
    <!-- Navigation-->
    <app-menu></app-menu>

    <section class="page-section bienvenida-section" id="bienvenida">
        <div class="container">
            <div class="text-center bienvenida-content">
                <h2 class="bienvenida-heading">¡Bienvenido a nuestro rincón de objetos perdidos!</h2>
                <div class="bienvenida-subheading">Encuentra lo que perdiste en un solo clic.</div>
                <a class="btn btn-primary btn-xl text-uppercase bienvenida-btn" href="/login">¡Comencemos la
                    búsqueda!</a>
            </div>
        </div>
    </section>
    <br><br>

    <!-- Sección de Información -->

    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center bienvenida-content">
                <h2 class="bienvenida-heading" style="color: black;">Informacion sobre nuestro sitio Web!</h2>
                <div class="bienvenida-subheading" style="color: black;">Lo que pretende nuestro sitio web es poder dar solución a un problema que hay en el Instituto tecnológico de Ciudad Hidalgo, y es el de los objetos personales que perdemos ya sea por distracción o porque solo se nos olvido y para ello tenemos esta solución que permite a los alumnos y al personal de ITSCH generar una publicación donde puede subir una imagen del objeto personal darle una descripción donde los demás podrán mirar la publicación y contactar a la persona mediante correo electrónico. </div>
                <a class="text-uppercase " href="/login">¡Comencemos la
                    búsqueda!</a>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="text-center">
                <h2 style="color: black;">Autores del sitio web</h2>
                <h3 class="section-subheading text-muted">Información personal</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                        <h4>Eduardo Sanchez Calderon</h4>
                        <p class="text-muted">Programador</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Eduardo Sanchez Calderon Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Eduardo Sanchez Calderon Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Eduardo Sanchez Calderon LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                        <h4>Yamileth Ximena Ontiveroz Manzur</h4>
                        <p class="text-muted">Programador</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                        <h4>Horacio Morales Garcia</h4>
                        <p class="text-muted">Programador</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        
    </section>



</body>

</html>