body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/fondoNew.png'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que el fondo ocupe al menos la altura completa de la ventana */
  }
  
   .custom-button {
    background-color: #9500ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    align-items: end;
    cursor: pointer;
  }